.navbar {}

.top-container {
    margin: auto;
}

.top-container {
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    display: flex;
    gap: 15px;
}

.main-nav {
    margin: auto;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lists ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
}

.listbtn {
    display: flex;
    gap: 5px;
    align-items: center;
}

.page-list {
    margin: auto;
    width: 100%;
}

.page-list ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    background-color: #173F5F;
    color: white;
    padding: 8px 0;
}

.search-book {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #e9edef;
    padding: 8px;
    width: 400px;
    border-radius: 20px;
    padding-right: 20px;
}

.search-book input {
    border: none;
    outline: none;
    background-color: #e9edef;
    width: 100%;
    font-size: 16px;
    padding-left: 5px;
}

.SearchBTN {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.logoimg {
    width: 90px;
    height: 90px;
}


/* -------------------- TOGGLE BUTTON -------------------- */

.menu-toggle {
    display: none;
    font-size: 22px;
    cursor: pointer;
}


/* -------------------- RESPONSIVE -------------------- */


/* TABLET */

@media (max-width: 1024px) {
    .search-book {
        width: 300px;
    }
    .lists ul {
        gap: 15px;
    }
}


/* MOBILE */

@media (max-width: 768px) {
    .top-container {
        flex-direction: column;
        height: auto;
        gap: 5px;
    }
    .main-nav {
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
    }
    .search-book {
        width: 100%;
        order: 3;
    }
    .desktop-only .listbtntext {
        display: none;
        margin-left: -15px;
    }
    .menu-toggle {
        display: block;
    }
    /* PAGE MENU HIDDEN */
    .page-list {
        display: none;
        width: 100%;
    }
    .page-list.active {
        display: block;
    }
    .page-list ul {
        flex-direction: column;
        gap: 15px;
        padding: 15px 0;
    }
}


/* SMALL MOBILE */

@media (max-width: 480px) {
    .logoimg {
        width: 70px;
        height: 70px;
    }
    .search-book {
        padding: 6px;
    }
}