.otp-wrapper {
    width: 100%;
    background-color: #333;
}

.otp-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.emailAuth,
.otpAuth {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.fade-in {
    animation: fadeIn 0.4s ease-in-out;
}

.slide-up {
    animation: slideUp 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #411872;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.errormsg {
    color: red;
    font-size: 12px;
}


/* -------------forgot password css---------------- */

.forgotpassword {
    background-color: #f5f5f5;
    padding: 20px;
}

.forgotpassword .container {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.forgotpassword h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.forgotpassword input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.forgotpassword button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: #411872;
    color: #fff;
}