.login-container {
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-img {
    width: 50%;
}

.loginimage {
    width: 100%;
}

.login-form {
    width: 50%;
    padding: 40px;
    background: linear-gradient( to right, #FFFFFF, #FFE5E5);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

.login-form input {
    width: 100%;
    height: 50px;
    margin: 15px 0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 20px;
}

.login-form label {
    display: block;
    margin-top: -10px;
    margin-bottom: -40;
    font-size: 20px;
    color: #555;
    font-weight: bold;
}

.errormsg {
    display: block;
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.login-form button {
    display: block;
    margin: 10px auto;
    margin: auto;
    width: 50%;
    height: 50px;
    background-color: #411872;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}

.moreOptionforForm {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.moreOptionforForm a {
    color: #411872;
    text-decoration: none;
    font-weight: bold;
}

.otp-overlay {
    width: 100%;
    background-color: #333;
}


/* Blur background */

.blur-bg {
    filter: blur(6px);
    pointer-events: none;
}


/* OTP Overlay */

.otp-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* OTP Modal */

.otp-modal {
    z-index: 1000;
    background: white;
    padding: 30px;
    border-radius: 16px;
    width: 90%;
    max-width: 400px;
    animation: popup 0.4s ease;
}

@keyframes popup {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 800px) {
    .login-container {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
    .login-img,
    .login-form {
        width: 80%;
    }
    .login-form {
        margin-top: 20px;
        padding: 30px;
    }
}